<header>
  <h1 class="font-sans text-4xl"><%=@title%></h1>
</header>

<section class="container flex flex-col max-w-screen-lg">
  <article>
    <%= render partial: 'partials/input-box' %>
  </article>
  <article id="output_element"></article>
</section>
