<div class="my-8">
  <p class="font-sans">Please fill this textbox with <u>full input</u> of plateau and vehicle, and press <code>Send</code> button</p>
</div>

<%= form_with class: "flex flex-col", id: "input_form" do |form| %>
  <div class="flex flex-col md:flex-row">
    <textarea
      name="input_commands"
      id="input_box"
      rows="8"
      class="px-4 py-3 md:w-80 rounded-lg font-mono hover:drop-shadow resize-none basis-1/3"
      placeholder="5 5
1 2 N
L M L M L M L M M
3 3 E
M M R M M R M R R M"></textarea>

    <article class="m-5 md:my-0 font-sans text-sm basis-2/3">
      <p class="mb-5">Instructions how to write correct commands</p>
      <ul class="list-disc list-inside">
        <li>The first line of input is the upper-right coordinates of the plateau,
        the lower-left coordinates are assumed to be 0,0.</li>
        <li>The rest of the input is information pertaining to the rovers that
        have been deployed. Each rover has two lines of input. The first line gives
        the rover's position, and the second line is a series of instructions telling
        the rover how to explore the plateau. The position is made up of two integers
        and a letter separated by spaces, corresponding to the x and y co-ordinates
        and the rover's orientation.</li>
      </ul>
    </article>
  </div>

  <button id="submit_btn" class="md:max-w-xs bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white my-4 py-2 px-4 border border-blue-500 hover:border-transparent rounded" type="submit">Send</button>
<% end %>

<script>
!(() => {
  let form = document.getElementById("input_form");

  form.addEventListener("turbo:submit-end", async (ev) => {
    const response = await ev.detail.fetchResponse.response.json();
    const output = document.getElementById('output_element');

    if (response.html) {
      output.innerHTML = response.html
    } else if (response.error) {
      alert(response.error)
    }
  })
})()
</script>